*, *::after
{
  box-sizing: border-box;
}

body
{
  background-color: #EFECCA;
}

a {
  color:white;
}
a:hover, a:visited {
  color:purple;
}

.menu-container
{
  display flex;
  justify-content center;
  color: #fff;
  background-color: #B9314F;
}

.menu
{
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: .5em;
}

.title
{
  font-size: 24px;
}

.members
{
  display flex;
  justify-content: flex-end;
}

.login
{
  margin-left: 20px;
}

.navigation
{
  height: 100px;
  background-color: #D5A18E;
  display flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-start;
}

.nav-button
{
  text-transform: uppercase;
  font-size: .75rem;
  padding: .5rem;
}

h1
{
  text-align: center;
}

.gallery
{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-around;
  padding: 2rem .5rem;
  background-color: #EFECCA;
}

.card
{
  display: flex;
  flex-direction: column;
  border: 5px solid;
  background-color: #DEC3BE;
  justify-content: center;
  padding: 2rem .5rem;
  margin: 2rem .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card-title
{
  margin-bottom: 0;
  font-weight: 700;
}

.card-text
{
  justify-content: center;
}

.card-button
{
  text-transform: uppercase;
  font-size: .75rem;
  padding: .5rem;
}

@media screen and (min-width: 550px) {  /*-- for screens above 550px  --*/
  .card {width: 50%;} /*-- sets card width to half of the page --*/
}
@media screen and (min-width: 1024px) { /*-- for screens above 1024px  --*/
  .card {width: 33.33333%;} /*-- sets card width to one-third of the page --*/
}
@media screen and (min-width: 1280px) { /*-- for screens above 1280px  --*/
  .card {width: 25%;} /*-- sets card width to one-quarter of the page --*/
}
footer
{
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: .5em;
  color: #fff;
  background-color: #B9314F;
}
